<div class="container">
	<div class="text-center">
		<img src="/assets/logo_blue.png" width="45%" class="img-fluid text-center" alt="Responsive image">
	</div>
	<div class="row">
		<div class="col text-center" style="font-family: 'Quicksand', sans-serif; font-size: 40px;">
			Seek & Find Inc.
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<a class="btn btn-light" href="#" role="button" routerLink="/admin">Employee Portal</a>
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<a class="btn btn-link" href="#" role="button" href="mailto:team@seekandfindinc.com">Email</a>
			<br>
			<a class="btn btn-link" href="#" role="button" href="tel:631-406-9427">631-406-9427</a>
		</div>
	</div>
</div>