<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-spin"></ngx-spinner>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<span class="navbar-brand">
		<img src="/assets/logo_blue.png" width="40" height="40" alt="logo">
	</span>
	<button class="navbar-toggler" type="button" data-toggle=
	"collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/admin/dashboard">Orders</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/admin/users">Users</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown my-4 my-lg-0">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" data-toggle="modal" data-target="#resetPasswordModal">Reset Password</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" routerLink="#" (click)="logout()">Sign Out</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
<br>
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form class="was-validated" (ngSubmit)="savePassword()" #resetPasswordForm="ngForm">
				<div class="modal-header">
					<h5 class="modal-title">Reset New Password</h5>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control form-control-sm" required [(ngModel)]="new_password" name="new_password">
						<div class="invalid-feedback">Enter new password</div>
					</div>
					<div class="form-group">
						<label>Confirm Password</label>
						<input type="password" class="form-control form-control-sm" required [(ngModel)]="new_password_confirm" name="new_password_confirm">
						<div class="invalid-feedback">Enter new password</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.form.invalid">Send</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>