option_settings:
  aws:elasticbeanstalk:container:nodejs: 
    NodeCommand: "node server.js"
    ProxyServer: apache
  aws:ec2:vpc:
    VPCId: vpc-0fa2bb09ffb42959c
    AssociatePublicIpAddress: 'true'
    ELBScheme: public
    ELBSubnets: subnet-00a9039e6ff9110e7,subnet-0b03f56bc9d356b7e
    Subnets: subnet-00a9039e6ff9110e7,subnet-0b03f56bc9d356b7e