<br>
<div class="container">
	<app-navbar></app-navbar>
	<div class="card">
		<div class="card-header">Details</div>
		<div class="card-header" style="background-color: #f1c40f;">Open</div>
		<div class="card-header" style="background-color: #27ae60;">Closed</div>
		<div class="card-body">
			<div class="row">
				<div class="col">
					<div class="font-weight-bold">Property</div>
					<div class="font-weight-light">27 Marwood Road North, Port Washington, NY 11050</div>
				</div>
				<div class="col">
					<p class="text-right"><button type="button" class="btn btn-dark btn-sm">Mark Closed</button></p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<div class="font-weight-bold">Reference Number</div>
					<div class="font-weight-light">12345</div>
				</div>
				<div class="col">
					<div class="font-weight-bold">Closing Date</div>
					<div class="font-weight-light">Monday, June 15, 2015 @ 9:00 AM</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<div class="font-weight-bold">Lender</div>
					<div class="font-weight-light">Bank of America</div>
				</div>
				<div class="col">
					<div class="font-weight-bold">Corporation</div>
					<div class="font-weight-light">HSBC</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<div class="font-weight-bold">Purchase Price</div>
					<div class="font-weight-light">$750,000</div>
				</div>
				<div class="col">
					<div class="font-weight-bold">Loan Amount</div>
					<div class="font-weight-light">$736,500</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<div class="font-weight-bold">Buyer(s)</div>
					<div class="row">
						<div class="col">
							<div class="font-weight-light">
								Stephen Pugliese
								<br>
								137-44 70th Ave<br>Flushing, NY 11367
							</div>
						</div>
						<div class="col">
							<div class="font-weight-light">
								Melissa Ruvio
								<br>
								76 Cornwells Beach Road<br>Sandspoint, NY 11050
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="font-weight-bold">Seller(s)</div>
					<div class="row">
						<div class="col">
							<div class="font-weight-light">
								Joseph Saldano
								<br>
								29 Marwood Road North<br>Port Washington, NY 11050
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">Documents</div>
		<div class="card-body">
			<div class="row">
				<div class="col">
					<button type="button" class="btn btn-dark btn-sm">Add Document</button>
				</div>
			</div>
			<br>
			<div class="alert alert-dark" role="alert">
				<div class="row">
					<div class="col-6"><i class="fas fa-file fa-lg"></i> Search File</div>
					<div class="col-6 text-right">Uploaded @ 2018-10-03 3:00:00PM</div>
				</div>
			</div>
			<div class="alert alert-dark" role="alert">
				<div class="row">
					<div class="col-6"><i class="fas fa-file fa-lg"></i> Invoice File</div>
					<div class="col-6 text-right">Uploaded @ 2018-10-03 3:00:00PM</div>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>