<br>
<div class="container">
	<app-navbar></app-navbar>
	<div class="card">
		<div class="card-header">Details</div>
		<div class="card-header" *ngIf="!order.closed" style="background-color: #f1c40f;">Open</div>
		<div class="card-header" *ngIf="order.closed" style="background-color: #27ae60;">Closed</div>
		<div class="card-body">
			<div class="row">
				<div class="col">
					<div class="font-weight-bold">Property</div>
					<div class="font-weight-light">{{order.property_address}}</div>
				</div>
				<div class="col" *ngIf="!order.closed">
					<p class="text-right">
						<button type="button" class="btn btn-dark btn-sm" *ngIf="!inEditMode" (click)="editOrder()">Edit</button>
						<button type="button" class="btn btn-success btn-sm" *ngIf="inEditMode" (click)="saveOrder()" [disabled]="editOrderForm.form.invalid">Save</button>
						&nbsp;<button type="button" class="btn btn-dark btn-sm" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#confirmModal">Mark Closed</button></p>
				</div>
			</div>
			<br>
			<form class="was-validated" #editOrderForm="ngForm">
				<div class="row">
					<div class="col">
						<div class="font-weight-bold">Reference Number</div>
						<div class="font-weight-light" *ngIf="!inEditMode">{{order.reference_number}}</div>
						<input type="text" required *ngIf="inEditMode" class="form-control form-control-sm" name="reference_number" [(ngModel)]="order.reference_number">
						<div class="invalid-feedback">Please add reference number</div>
					</div>
					<div class="col">
						<div class="font-weight-bold">Closing Date</div>
						<div class="font-weight-light" *ngIf="!inEditMode">{{order.closing_date ? (order.closing_date | date : "EEEE, LLLL d, yyyy @ hh:mm a") : "TBD"}}</div>
						<div class="input-group input-group-sm" *ngIf="inEditMode">
							<input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="temp_closing_date" [(ngModel)]="temp_closing_date.date" ngbDatepicker #d="ngbDatepicker">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
								<i class="far fa-calendar-alt"></i>
								</button>
							</div>
						</div>
						<ngb-timepicker name="time" [(ngModel)]="temp_closing_date.time" *ngIf="inEditMode" [hourStep]="1" [minuteStep]="15"></ngb-timepicker>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<div class="font-weight-bold">Lender</div>
						<div class="font-weight-light" *ngIf="!inEditMode">{{order.lender ? order.lender : "-"}}</div>
						<input type="text" *ngIf="inEditMode" class="form-control form-control-sm" name="lender" [(ngModel)]="order.lender">
					</div>
					<div class="col">
						<div class="font-weight-bold">Corporation</div>
						<div class="font-weight-light" *ngIf="!inEditMode">{{order.corporation}}</div>
						<input type="text" required *ngIf="inEditMode" class="form-control form-control-sm" name="corporation" [(ngModel)]="order.corporation">
						<div class="invalid-feedback">Please add corporation</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<div class="font-weight-bold">Purchase Price</div>
						<div class="font-weight-light" *ngIf="!inEditMode">{{order.purchase_price | currency : "$"}}</div>
						<div class="input-group input-group-sm mb-3" *ngIf="inEditMode">
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input type="number" required min="1" interval="1" class="form-control form-control-sm" name="purchasePrice" [(ngModel)]="order.purchase_price">
							<div class="input-group-append">
								<span class="input-group-text">.00</span>
							</div>
							<div class="invalid-feedback">Please add purchase price</div>
						</div>
					</div>
					<div class="col">
						<div class="font-weight-bold">Loan Amount</div>
						<div class="font-weight-light" *ngIf="!inEditMode">{{order.loan_amount ? (order.loan_amount | currency : "$") : "-"}}</div>
						<div class="input-group input-group-sm mb-3" *ngIf="inEditMode">
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input type="number" min="1" interval="1" class="form-control form-control-sm" name="loanAmount" [(ngModel)]="order.loan_amount">
							<div class="input-group-append">
								<span class="input-group-text">.00</span>
							</div>
						</div>					
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<div class="font-weight-bold">Buyer(s)</div>
						<div class="row" *ngIf="!inEditMode">
							<div class="col" *ngFor="let field of order.buyers">
								<div class="font-weight-light">
									{{field.name}}
									<br>
									{{field.address}}
								</div>
							</div>
						</div>
						<table class="table table-sm table-bordered" *ngIf="inEditMode">
							<thead class="thead-light">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Address</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let field of order.buyers; index as i;">
									<td><input type="text" required class="form-control form-control-sm" placeholder="Chris Jones" [(ngModel)]="order.buyers[i].name" name="buyer_name_{{i}}"><div class="invalid-feedback">Please add name</div></td>
									<td><input type="text" required class="form-control form-control-sm" placeholder="2 Apple Street, New York, NY 10001" [(ngModel)]="order.buyers[i].address" name="buyer_address_{{i}}"><div class="invalid-feedback">Please add address</div></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">
										<button type="button" class="btn btn-dark btn-block btn-sm" (click)="addBuyer()">Add Buyer</button>
										<button type="button" [disabled]="buyer_index === 0" class="btn btn-dark btn-block btn-sm" (click)="deleteBuyer()">Remove Buyer</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="col">
						<div class="font-weight-bold">Seller(s)</div>
						<div class="row" *ngIf="!inEditMode">
							<div class="col" *ngFor="let field of order.sellers">
								<div class="font-weight-light">
									{{field.name}}
									<br>
									{{field.address}}
								</div>
							</div>
						</div>
						<table class="table table-sm table-bordered" *ngIf="inEditMode">
							<thead class="thead-light">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Address</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let field of order.sellers; index as i;">
									<td><input type="text" required class="form-control form-control-sm" placeholder="Chris Jones" [(ngModel)]="order.sellers[i].name" name="seller_name_{{i}}"><div class="invalid-feedback">Please add name</div></td>
									<td><input type="text" required class="form-control form-control-sm" placeholder="2 Apple Street, New York, NY 10001" [(ngModel)]="order.sellers[i].address" name="seller_address_{{i}}"><div class="invalid-feedback">Please add address</div></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">
										<button type="button" class="btn btn-dark btn-block btn-sm" (click)="addSeller()">Add Seller</button>
										<button type="button" [disabled]="seller_index === 0" class="btn btn-dark btn-block btn-sm" (click)="deleteSeller()">Remove Seller</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</form>
		</div>
		<div class="card-footer text-muted">
			<div class="row">
				<div class="col-6">Last Updated {{order.lastUpdated}}</div>
				<div class="col-6 text-right">Created {{order.dateofCreation}}</div>
			</div>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">Documents</div>
		<div class="card-body">
			<div class="row" *ngIf="!order.closed">
				<div class="col">
					<button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#newDocumentModal">Add Document</button>
				</div>
			</div>
			<br *ngIf="!order.closed">
			<div *ngIf="documents.length > 0">
				<div class="alert alert-dark" role="alert" *ngFor="let doc of documents">
					<div class="row">
						<div class="col-6"><a (click)="download(doc.id)"><i class="fas fa-file fa-lg"></i></a>&nbsp;{{doc.description}}</div>
						<div class="col-6 text-right">Uploaded @ {{doc.createdAt | date : "yyyy-MM-dd hh:mm a"}}</div>
					</div>
				</div>
			</div>
			<div *ngIf="documents.length < 1">No Documents</div>
		</div>
	</div>
	<br>
</div>
<div class="modal fade" id="newDocumentModal" tabindex="-1" role="dialog" aria-labelledby="newDocumentModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form class="was-validated" (ngSubmit)="docSubmit(order.id)" #newDocumentForm="ngForm">
				<div class="modal-header">
					<h5 class="modal-title" id="newDocumentModalLabel">Add Document</h5>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Description</label>
						<input type="text" class="form-control form-control-sm" name="description" [(ngModel)]="document.description" placeholder="Important Document">
					</div>
					<div class="form-group">
						<label>File</label>
						<input class="form-control-file" type="file" id="file" (change)="onFileChange($event)" #file>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" [disabled]="newDocumentForm.form.invalid">Save</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirmation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to mark this file closed?</p>
				<p class="text-danger"><small>This action is not reversable</small></p>
			</div>
			<div class="modal-footer" style="display: block;">
				<div class="row">
					<div class="col"><button type="button" class="btn btn-danger btn-block" data-dismiss="modal">No</button></div>
					<div class="col"><button type="button" class="btn btn-success btn-block" (click)="closeOrder(order.id)">Yes</button></div>
				</div>
			</div>
		</div>
	</div>
</div>