<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col">
			<div class="card text-center">
				<div class="card-header">
					<ul class="nav nav-pills card-header-pills nav-fill" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Register</a>
						</li>
					</ul>
				</div>
				<div class="card-body text-left">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
							<form class="was-validated">
								<div class="form-group">
									<label>Seek and Find Email</label>
									<input type="email" class="form-control form-control-sm" required>
									<div class="invalid-feedback">Enter valid email</div>
								</div>
								<div class="form-group">
									<label>Password</label>
									<input type="password" class="form-control form-control-sm" required>
									<div class="invalid-feedback">Enter password</div>
								</div>
								<button type="submit" class="btn btn-secondary btn-sm btn-block">Sign In</button>
							</form>
						</div>
						<div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
							<form class="was-validated">
								<div class="form-group">
									<label>Seek and Find Email</label>
									<input type="email" class="form-control form-control-sm" required>
									<div class="invalid-feedback">Enter valid email</div>
								</div>
								<button type="submit" class="btn btn-secondary btn-sm btn-block">Register</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>
</div>