<br>
<div class="container">
	<app-navbar></app-navbar>
	<div class="row">
		<div class="col">
			<div class="alert alert-success collapse" id="order_new" role="alert">
			Order Added
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">Filters</div>
		<div class="card-body">
			<small>
				<p class="text-black-50">Start typing to search</p>
			</small>
			<div class="row">
				<div class="col">
					<label>Corporation</label>
					<input type="text" [(ngModel)]="filter.corporation" class="form-control form-control-sm" placeholder="ABC Corporation">
				</div>
				<div class="col">
					<label>Property Address</label>
					<input type="text" [(ngModel)]="filter.property_address" class="form-control form-control-sm" placeholder="1 Apple Street, New York, NY 10001">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<label>Status</label>
					<select class="form-control form-control-sm" [(ngModel)]="filter.closed">
						<option></option>
						<option value="0">Open</option>
						<option value="1">Closed</option>
					</select>
				</div>
				<div class="col">
					<label>Lender</label>
					<input type="text" [(ngModel)]="filter.lender" class="form-control form-control-sm" placeholder="Bank of Money">
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="list-group">
		<a [routerLink]="['/admin/dashboard/order', order.id]" class="list-group-item list-group-item-action flex-column align-items-start {{order.closed ? 'list-group-item-danger' : 'list-group-item-success'}}" *ngFor="let order of orders | search : filter">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">Address: {{order.property_address}}</h5>
				<small>Last Updated {{order.updatedAt | date:'EEEE, MMMM d yyyy hh:mm a'}}</small>
			</div>
			<small>
				<b>Corporation: {{order.corporation}}</b> | <b>Lender: {{order.lender ? order.lender : "N/A"}}</b> | <b>Reference #: {{order.reference_number ? order.reference_number : "N/A"}}</b>
				<br>
				<b>Buyers: {{order.buyers.join(", ")}}</b>
				<br>
				<b>Sellers: {{order.sellers.join(", ")}} </b>
			</small>
		</a>
	</div>
	<div class="row" *ngIf="orders.length < 1">
		<div class="col">No Orders</div>
	</div>
	<br>
</div>