<br>
<div class="container">
	<app-navbar></app-navbar>
	<div class="input-group input-group-sm mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Search</span>
		</div>
		<input [(ngModel)]="searchText" type="text" class="form-control form-control-sm" placeholder="Last Name / Order #">
		<div class="input-group-append" id="button-addon4">
			<button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#newOrderModal">Add Order</button>
		</div>
	</div>
	<div class="row">
		<div class="col-2" *ngFor="let order of orders | search : searchText">
			<p class="text-left font-weight-light">
				<small>{{order.ordernumber}} - {{order.seller_last_name}}</small>
				<br>
				<a href="/admin/dashboard/order/{{order.id}}"><i class="fas fa-folder{{order.isOpen ? '-open' : ''}} fa-8x" style="color:#E6DD93;"></i></a>
			</p>
		</div>
	</div>
</div>
<div class="modal fade" id="newOrderModal" tabindex="-1" role="dialog" aria-labelledby="newOrderModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newOrderModalLabel">Add Order</h5>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label>Property</label>
						<input type="text" class="form-control form-control-sm" placeholder="1 Apple Street, New York, NY 10001">
					</div>
					<div class="form-group">
						<label>Reference #</label>
						<input type="text" class="form-control form-control-sm" placeholder="123456">
					</div>
					<div class="form-group">
						<label>Lender</label>
						<input type="text" class="form-control form-control-sm" placeholder="Bank of Awesome">
					</div>
					<div class="form-group">
						<label>Corporation</label>
						<input type="text" class="form-control form-control-sm" placeholder="Joe Schmo">
					</div>
					<div class="form-group">
						<label>Purchase Price</label>
						<div class="input-group input-group-sm mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input type="number" min="1" interval="1" class="form-control form-control-sm">
							<div class="input-group-append">
								<span class="input-group-text">.00</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Loan Amount</label>
						<div class="input-group input-group-sm mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input type="number" min="1" interval="1" class="form-control form-control-sm">
							<div class="input-group-append">
								<span class="input-group-text">.00</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Buyer(s)</label>
						<table class="table table-sm table-bordered">
							<thead class="thead-light">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Address</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let field of buyerFieldArray">
									<td><input type="text" class="form-control form-control-sm" placeholder="Chris Jones"></td>
									<td><input type="text" class="form-control form-control-sm" placeholder="2 Apple Street, New York, NY 10001"></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">
										<button type="button" class="btn btn-dark btn-block btn-sm" (click)="addBuyer()">Add Buyer</button>
										<button type="button" [disabled]="buyer_index === 0" class="btn btn-dark btn-block btn-sm" (click)="deleteBuyer()">Remove Buyer</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="form-group">
						<label>Seller(s)</label>
						<table class="table table-sm table-bordered">
							<thead class="thead-light">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Address</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let field of sellerFieldArray">
									<td><input type="text" class="form-control form-control-sm" placeholder="Chris Jones"></td>
									<td><input type="text" class="form-control form-control-sm" placeholder="2 Apple Street, New York, NY 10001"></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2">
										<button type="button" class="btn btn-dark btn-block btn-sm" (click)="addSeller()">Add Seller</button>
										<button type="button" [disabled]="seller_index === 0" class="btn btn-dark btn-block btn-sm" (click)="deleteSeller()">Remove Seller</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Save</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>