<br>
<div class="container">
	<app-navbar></app-navbar>
	<form class="was-validated" (ngSubmit)="orderSubmit()" #newOrderForm="ngForm">
		<div class="form-row">
			<div class="col">
				<label>Property</label>
				<input type="text" required class="form-control form-control-sm" name="propertyAddress" [(ngModel)]="order.propertyAddress" placeholder="1 Apple Street, New York, NY 10001">
				<div class="invalid-feedback">Please add property address</div>
			</div>
			<div class="col">
				<label>Reference #</label>
				<input type="text" class="form-control form-control-sm" name="referenceNumber" [(ngModel)]="order.referenceNumber" placeholder="123456">
			</div>
		</div>
		<br>
		<div class="form-row">
			<div class="col">
				<label>Lender</label>
				<input type="text" class="form-control form-control-sm" name="lender" [(ngModel)]="order.lender" placeholder="Bank of Awesome">
			</div>
			<div class="col">
				<label>Corporation</label>
				<input type="text" required class="form-control form-control-sm" name="corporation" [(ngModel)]="order.corporation" placeholder="Joe Schmo">
				<div class="invalid-feedback">Please add corporation</div>
			</div>
		</div>
		<br>
		<div class="form-row">
			<div class="col">
				<label>Purchase Price</label>
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">$</span>
					</div>
					<input type="number" required min="1" interval="1" class="form-control form-control-sm" name="purchasePrice" [(ngModel)]="order.purchasePrice">
					<div class="input-group-append">
						<span class="input-group-text">.00</span>
					</div>
					<div class="invalid-feedback">Please add purchase price</div>
				</div>
			</div>
			<div class="col">
				<label>Loan Amount</label>
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">$</span>
					</div>
					<input type="number" min="1" interval="1" class="form-control form-control-sm" name="loanAmount" [(ngModel)]="order.loanAmount">
					<div class="input-group-append">
						<span class="input-group-text">.00</span>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="form-row">
			<div class="col">
				<label>Buyer(s)</label>
				<table class="table table-sm table-bordered">
					<thead class="thead-light">
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Address</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let field of order.buyers; index as i;">
							<td><input type="text" required class="form-control form-control-sm" placeholder="Chris Jones" [(ngModel)]="order.buyers[i].name" name="buyer_name_{{i}}"><div class="invalid-feedback">Please add name</div></td>
							<td><input type="text" required class="form-control form-control-sm" placeholder="2 Apple Street, New York, NY 10001" [(ngModel)]="order.buyers[i].address" name="buyer_address_{{i}}"><div class="invalid-feedback">Please add address</div></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">
								<button type="button" class="btn btn-dark btn-block btn-sm" (click)="add('buyers')">Add Buyer</button>
								<button type="button" [disabled]="order.buyers.length === 1" class="btn btn-dark btn-block btn-sm" (click)="delete('buyers')">Remove Buyer</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="col">
				<label>Seller(s)</label>
				<table class="table table-sm table-bordered">
					<thead class="thead-light">
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Address</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let field of order.sellers; index as i;">
							<td><input type="text" required class="form-control form-control-sm" placeholder="Chris Jones" [(ngModel)]="order.sellers[i].name" name="seller_name_{{i}}"><div class="invalid-feedback">Please add name</div></td>
							<td><input type="text" required class="form-control form-control-sm" placeholder="2 Apple Street, New York, NY 10001" [(ngModel)]="order.sellers[i].address" name="seller_address_{{i}}"><div class="invalid-feedback">Please add address</div></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">
								<button type="button" class="btn btn-dark btn-block btn-sm" (click)="add('sellers')">Add Seller</button>
								<button type="button" [disabled]="order.sellers.length === 1" class="btn btn-dark btn-block btn-sm" (click)="delete('sellers')">Remove Seller</button>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<button type="submit" class="btn btn-primary btn-block" [disabled]="newOrderForm.form.invalid">Save</button>
	</form>	
	<br>
</div>